* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: 'Raleway', sans-serif;}

/* Month header */
.month {
  padding: 50px 25px;
  width: 100%;
  background: white;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}


/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 30px 0;
  background-color: white;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 30px 0;
  background: white;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 30px;
  font-size:30px;
  color: black;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #FFBF00;
  color: white !important
}
