@charset "utf-8";

/*
 *
 * CSS CONTENTS:
 *
 * 01. Web Font
 * 02. Type Selector Reset
 * 03. Accessibility Navigation
 * 04. Layout Selector
 * 05. Components
 * 06. Entry Content
 * 07. Comment
 * 08. Widget & Template Page
 * 09. ETC
 * 10. Post Type & Color Type
 * 11. Retina Display
 * 12. Media Screen - Tablet
 * 13. Media Screen - Mobie
 *
 */

@import url('//cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css');

body {
	font-family: 'SUIT', sans-serif;
	font-size: 1em;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

p {
	margin: 5px;
}

ul {
	margin: 1px;
}

li {
	margin: 0px;
}

img {	
	max-width: 90%;
}

.fix {
    position:fixed;
    bottom:1%;
    right:1%;
    width:30%; 
}

