@charset "utf-8";

@import url('//cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css');
@import url(https://cdn.jsdelivr.net/gh/sunghyunzz/eulyoo1945/eulyoo1945.css);

body {
	font-family: 'SUIT', sans-serif;
	font-size: 1em;
	flex-direction: column;
	line-height: 1.25;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	color: #333;
	height: 100vh;
}

html, body {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.content {
	text-align: center;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

p {
	line-height: 1.5;
	color: #333;
	margin: 1rem 0;
}


header {
	padding: 1rem;
	text-align: center;
}

main {
	padding: 2rem;
}


ul {
	padding: 0;
}

li {
	margin: 0.5rem 0;
	padding: 0.5rem;
}

img {
	/*
	width: 90%;
	*/
	max-width: 512px;
	height: auto;
}

/* menubar의 기본 설정 */
#menubar {
	text-align: center;
	padding: 0; /* 위아래 여백 */
	border-bottom: 2px solid #ccc;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

#menubar ul {
	list-style: none; /* 기본 리스트 스타일 제거 */
	display: flex; /* 가로로 정렬 */
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

/* 상위 메뉴 스타일 */
#menubar > nav > ul > li {
	background-color: #3e3e3e;
	font-size: 0.85rem;
	gap: 0.5rem;
	position: relative; /* 하위 메뉴 표시를 위한 기준 */
}

#menubar > nav > ul > li > a {
	color: #ffffff;
	text-decoration: none; /* 밑줄 제거 */
	padding: 0.5rem 1rem; /* 메뉴 클릭 영역 */
	display: block;
	transition: background 0.3s;
}

#menubar > nav > ul > li > a:hover {
	font-family: 'Eulyoo1945', serif;
	color: #1cad41;
}

/* 하위 메뉴 숨기기 */
#menubar ul li ul {
	display: none; /* 기본적으로 숨김 */
	position: absolute; /* 상위 메뉴 아래에 배치 */
	top: 100%; /* 상위 메뉴 아래쪽 */
	left: 0;
	padding: 0.5rem 0;
	list-style: none;
	z-index: 1000; /* 다른 요소 위로 표시 */
}

#menubar ul li ul li {
	padding: 0;
}

#menubar ul li ul li a {
	background-color: #3e3e3e;
	color: #ffffff;
	text-decoration: none;
	padding: 0.5rem 1rem;
	display: block;
	transition: background 0.3s;
}

#menubar ul li ul li a:hover {
	font-family: 'Eulyoo1945', serif;
	color: #1cad41;
}

/* 하위 메뉴 표시 */
#menubar ul li:hover > ul {
	display: block; /* 마우스를 올리면 하위 메뉴 표시 */
}

footer {
	background-color: #f1f1f1;
	font-size: 0.7rem;
	text-align: center;
	padding: 0;
}


